footer {
    background: linear-gradient(270deg, rgb(0, 90, 255) 0%, rgb(0, 23, 68) 100%);
    .nav-link {
        color: rgba($color: #ffffff, $alpha: .85);
    }
    .title-section {
        color: #ffffff;
    }
}