<header>
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand" routerLink="/home"><i class="fa-solid fa-briefcase"></i>Worldworks</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" routerLink="/home" routerLinkActive="active">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" routerLink="jobs" routerLinkActive="active">Jobs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" routerLink="companies"
                            routerLinkActive="active">Companies</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" routerLink="my-job" routerLinkActive="active">My job</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" routerLink="/admin/dashboard" routerLinkActive="active">Admin</a>
                    </li>
                </ul>
                <div class="d-flex align-items-center">
                    <a routerLink="/recruiter/home" class="recruiter-link">For employers</a>
                    <span class="px-3"></span>
                    @if (isLoggedIn) {
                        <div class="dropdown">
                            <button class="dropdown-toggle btn-user-dropdown" type="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                <img src="./assets/images/avatar.png" alt="" width="40px">
                                {{ getUser?.firstName }}
                            </button>
                            <ul class="dropdown-menu p-3" style="position: absolute;inset: 0px 0px auto auto;margin: 0px;transform: translate3d(0px, 40.4px, 0px);">
                                <li><a class="dropdown-item" routerLink="/profile"><i class="fa-solid fa-user"></i> Profile</a></li>
                                <li><button class="dropdown-item" (click)="logout()" ><i class="fa-solid fa-arrow-left"></i> Logout</button></li>
                            </ul>
                        </div>
                    } @else {
                        <div class="dropdown">
                            <button class="btn btn-outline-light dropdown-toggle" type="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                <i class="fa-solid fa-user"></i>
                                Login
                            </button>
                            <ul class="dropdown-menu p-3" style="position: absolute;inset: 0px 0px auto auto;margin: 0px;transform: translate3d(0px, 40.4px, 0px);">
                                <h5>Job Seeker Login</h5>
                                <li><a class="dropdown-item" routerLink="/login"><i class="fa-solid fa-right-to-bracket"></i> Login</a></li>
                                <li><a class="dropdown-item" routerLink="/register"><i class="fa-solid fa-user-plus"></i> Register an account</a></li>
                            </ul>
                        </div>
                    }
                </div>
            </div>
        </div>
    </nav>
</header>