header {
    background: linear-gradient(270deg, rgb(0, 90, 255) 0%, rgb(0, 23, 68) 100%);
    .navbar-brand {
        color: #ffffff;
    }
    .nav-link {
        color: #ffffff;
    }
    .active {
        color: #ff8409;
    }
    .btn-user-dropdown {
        background-color: rgba($color: #ffffff, $alpha: .2);
        border: 1px solid #ffffff;
        border-radius: 6px;
        color: #ffffff;
    }
}