<div class="container-fluid">
  <div class="border rounded p-2 shadow-sm">
    <form [formGroup]="formCreateJob" (ngSubmit)="onSubmit()">
      <div class="row">
        <h3>Create Job</h3>
        <div class="col col-md-6">
          <div class="form-group mb-3">
            <label for="jobName" class="form-label">Name</label>
            <input type="text" class="form-control" id="jobName" formControlName="name">
          </div>
          <div class="d-flex justify-content-between">
            <div class="form-group mb-3">
              <label for="salary" class="form-label">Salary ($)</label>
              <input type="number" class="form-control" id="salary" formControlName="salary">
            </div>
          </div>
          <div class="form-group mb-3">
            <label for="jobField" class="form-label">Job field</label>
            <select id="jobField" class="form-select" formControlName="jobField">
              <option selected>Job Field</option>
              @for (jobField of jobFieldList; track $index) {
                <option [value]="jobField.name">{{ jobField.name }}</option>
              }
            </select>
          </div>
          <div class="form-group mb-3">
            <label for="jobDescription" class="form-label">Job Description (Using HTML)</label>
            <textarea id="jobDescription" cols="30" rows="6" class="form-control" formControlName="description"></textarea>
          </div>
        </div>
        <div class="col col-md-6">
          <div class="form-group mb-3">
            <label for="location" class="form-label">Location</label>
            <input type="text" class="form-control" id="location" formControlName="location">
          </div>
          <div class="form-group mb-3">
            <label for="jobOffer" class="form-label">Offer (Using HTML)</label>
            <textarea id="jobOffer" cols="30" rows="6" class="form-control" formControlName="offer"></textarea>
          </div>
          <div class="form-group mb-3">
            <label for="jobRequirement" class="form-label">Requirement (Using HTML)</label>
            <textarea id="jobRequirement" cols="30" rows="6" class="form-control" formControlName="requirement"></textarea>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          @if (errorMessage) {
            <div class="alert alert-danger">{{ errorMessage }}</div>
          }
          @if (successMessage) {
            <div class="alert alert-success">{{ successMessage }}</div>
          }
        </div>
        <div class="col-6 text-end">
          <button type="submit" class="btn btn-primary" [disabled]="loading">
            @if (loading) {
              <span class="spinner-border spinner-border-sm"></span>
            }
            <span role="status">Create Job</span>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
